{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<div class="top"></div>

<div class="topleft">
    <h1>About Us:</h1><br>
</div>

<div class="paragraph">
    <p> Vtubers are most similar to normal streaming content creators of all kinds, they mostly do gaming streams,
        talking/singing stream, and sometimes collaboration projects. Aside from having a 2D avatar, the one big thing
        that
        separates them from other Youtuber/streamers is that they are usually backed by a company to provide technical
        support and all sorts of equipment and content creating support.</p><br>
    <p>
        We are try to making these website to help people find the details of Vtuber more easily. Also we want
        to provide a area to the people who are love Vtubes to discuss to each other. Hope that you will like this
        website and find your favourite Vtubers. Don't forget to give us some support.
    </p>
</div>
<div class="images">
    <img src="../static/images/AboutUsVtubers1.jpg" height="700" width="494">
    <img src="../static/images/AboutUsVtubers3.jpg">
    <img src="../static/images/AboutUsVtubers2.jpg" height="700" width="494">
</div>
<br><br>
<div class="topleft">
    <h1>Contact:</h1><br>
</div>

<div class="contact">
    <p>address: 21 Yuen Wo Road
        Sha Tin, New Territories</p>
    <p>phone: (+852) 2222-2222</p>
    <p>Email: zeronight928@gmail.com</p>
</div>
{% endblock content %}