{% extends "blog/base.html" %}
{% block content %}
<div class="donate-inline">
    <p class="zero">Donate Us</p>
    <div id="donate-board1">
        <p class="one">Law Sing Yeung</p>
        <img src="/static/images/payme1.jpg" class="img1">
    </div>
    <div id="donate-board2">
        <p class="two">Chu Ka To</p>
        <img src="/static/images/payme2.jpg" class="img2">
    </div>
    <div id="donate-board3">
        <p class="three">Tsoi Yiu Yeung</p>
        <img src="/static/images/payme3.jpg" class="img3">
    </div>
    <div id="donate-board4">
        <p class="four">Ip Kwan Ki</p>
        <img src="/static/images/payme4.jpg" class="img4">
    </div>
    <div id="donate-board5">
        <p class="five">Wu Xuerong</p>
        <img src="/static/images/payme5.jpg" class="img5">
    </div>
</div>
{% endblock content %}