

{% extends "blog/base.html" %}
{% block content %}

<div class="tophand"></div>
<button class="hidetogglebtn" style='padding:5px 10px;box-sizing:content-box'>一番</button>
<div class="showcontent" style="margin-left: 100px;">
    <table>
        <tbody align='center'>
            <tr>
                <td>
                    <pre>
                        <font size="6"><b>平糊</b></font>
                    </pre>
                    <img src="/static/images/1 Dot.jpg"> 
                    <img src="/static/images/2 Dot.jpg">
                    <img src="/static/images/2 Dot.jpg">
                    <img src="/static/images/3 Dot.jpg">
                    <img src="/static/images/7 Dot.jpg">
                    <img src="/static/images/8 Dot.jpg">
                    <img src="/static/images/9 Dot.jpg">
                    <img src="/static/images/9 Dot.jpg">
                    <img src="/static/images/4 Bamboo.jpg">
                    <img src="/static/images/5 Bamboo.jpg">
                    <img src="/static/images/6 Bamboo.jpg">
                    <img src="/static/images/7 Character.jpg">
                    <img src="/static/images/8 Character.jpg">
                    <img src="/static/images/9 Character.jpg">
                    <img src="/static/images/North Wind.jpg">
                    <img src="/static/images/North Wind.jpg">
                </td>
            </tr>
            <tr>
                <td>
                    <pre>
                        <font size="6"><b>番牌</b></font>
                    </pre>
                    <img src="/static/images/red.jpg">
                    <img src="/static/images/red.jpg">
                    <img src="/static/images/red.jpg">
                    <img src="/static/images/green.jpg">
                    <img src="/static/images/green.jpg">
                    <img src="/static/images/green.jpg">
                    <img src="/static/images/white.jpg">
                    <img src="/static/images/white.jpg">
                    <img src="/static/images/white.jpg">
                    <img src="/static/images/white.jpg">
                    <img src="/static/images/match.jpg">
                    <img src="/static/images/match.jpg">
                </td>
            </tr>
            <tr>
                <td style='width:150px'>
                    <img src="/static/images/SoraCh.jpg" style='border-radius:50px;height:100px;width:100px'/>
                </td>
                <td style='width:800px' align='left'>
                <pre>
                    <font size="6"><b>SoraCh</b></font>
                </pre>
                </td>
                <td style='width:300px'>
                    <a href="https://www.youtube.com/channel/UCp6993wxpyDPHUpavwDFqgg">
                        <img src="/static/images/youtube.png" style='height:30px;width:72px'/>
                    </a>
                    <a href="https://twitter.com/tokino_sora">
                        <img src="/static/images/twitter.png" style='height:30px;width:30px'/>
                    </a>
                </td>
            </tr>
            <tr>
                <td style='width:150px'>
                    <img src="/static/images/Roboco.jpg" style='border-radius:50px;height:100px;width:100px'/>
                </td>
                <td style='width:800px' align='left'>
                    <pre>
                        <font size="6"><b>Roboco</b></font>
                    </pre>
                </td>
                <td style='width:300px'>
                    <a href="https://www.youtube.com/channel/UCDqI2jOz0weumE8s7paEk6g">
                        <img src="/static/images/youtube.png" style='height:30px;width:72px'/>
                    </a>
                    <a href="https://twitter.com/robocosan">
                        <img src="/static/images/twitter.png" style='height:30px;width:30px'/>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<br>

<button class="hidetogglebtn" style='padding:5px 10px;box-sizing:content-box'>1st generation</button>
<div class="showcontent" style="margin-left: 100px;">
    <table>
        <tbody align='center'>
            <tr>
                <td style='width:150px'>
                    <img src="/static/images/Shirayuki.jpg" style='border-radius:50px;height:100px;width:100px'/>
                </td>
                <td style='width:800px' align='left'>
                <pre>
                    <font size="6"><b>白雪みしろ Shirayuki Mishiro</b></font>
                    
                </pre>
                </td>
                <td style='width:300px'>
                    <a href="https://www.youtube.com/channel/UCC0i9nECi4Gz7TU63xZwodg">
                        <img src="/static/images/youtube.png" style='height:30px;width:72px'/>
                    </a>
                    <a href="https://twitter.com/mishiro_seiso">
                        <img src="/static/images/twitter.png" style='height:30px;width:30px'/>
                    </a>
                </td>
            </tr>
            <tr>
                <td style='width:150px'>
                    <img src="/static/images/YozoraMel.jpg" style='border-radius:50px;height:100px;width:100px'/>
                </td>
                <td style='width:800px' align='left'>
                <pre>
                    <font size="6"><b>Yozora Mel</b></font>
                    
                </pre>
                </td>
                <td style='width:300px'>
                    <a href="https://www.youtube.com/channel/UCD8HOxPs4Xvsm8H0ZxXGiBw">
                        <img src="/static/images/youtube.png" style='height:30px;width:72px'/>
                    </a>
                    <a href="https://twitter.com/yozoramel">
                        <img src="/static/images/twitter.png" style='height:30px;width:30px'/>
                    </a>
                </td>
            </tr>
            <tr>
                <td style='width:150px'>
                    <img src="/static/images/NatsuiroMatsuri.jpg" style='border-radius:50px;height:100px;width:100px'/>
                </td>
                <td style='width:800px' align='left'>
                <pre>
                    <font size="6"><b>Natsuiro Matsuri</b></font>
                   
                </pre>
                </td>
                <td style='width:300px'>
                    <a href="https://www.youtube.com/channel/UCQ0UDLQCjY0rmuxCDE38FGg">
                        <img src="/static/images/youtube.png" style='height:30px;width:72px'/>
                    </a>
                    <a href="https://twitter.com/natsuiromatsuri">
                        <img src="/static/images/twitter.png" style='height:30px;width:30px'/>
                    </a>
                </td>
            </tr>
            <tr>

                <td style='width:150px'>
                    <img src="/static/images/AkiRosenthal.jpg" style='border-radius:50px;height:100px;width:100px'/>
                </td>
                <td style='width:800px' align='left'>
                <pre>
                    <font size="6"><b>Akirose</b></font>
                   
                </pre>
                </td>
                <td style='width:300px'>
                    <a href="https://www.youtube.com/channel/UCFTLzh12_nrtzqBPsTCqenA">
                        <img src="/static/images/youtube.png" style='height:30px;width:72px'/>
                    </a>
                    <a href="https://twitter.com/akirosenthal">
                        <img src="/static/images/twitter.png" style='height:30px;width:30px'/>

                        
                            </td>
                            </tr>

                        </a>
                    </td>
                </tr>
                <tr>
                    <td style='width:150px'>
                        <img src="/static/images/Akaihaato.jpg" style='border-radius:50px;height:100px;width:100px'/>
                    </td>
                    <td style='width:800px' align='left'>
                    <pre>
                    <font size="6"><b>赤井はあと</b></font>
                       
                    </pre>
                    </td>
                    <td style='width:300px'>
                        <a href="https://www.youtube.com/channel/UC1CfXB_kRs3C-zaeTG3oGyg">
                            <img src="/static/images/youtube.png" style='height:30px;width:72px'/>
                        </a>
                        <a href="https://twitter.com/akaihaato">
                            <img src="/static/images/twitter.png" style='height:30px;width:30px'/>
                        </a>
                    </td>
                    </tr>
            </tbody>
        </table>
        </tbody>
    </table>
</div>
<br>
<button class="hidetogglebtn" style='padding:5px 10px;box-sizing:content-box'>2nd generation</button>
<div class="showcontent" style="margin-left: 100px;">
    <table>
        <tbody align='center'>
            <tr>
                <td style='width:150px'>
                    <img src="/static/images/Yuzuki Choco.jpg" style='border-radius:50px;height:100px;width:100px'/>
                </td>
                <td style='width:800px' align='left'>
                <pre>
                    <font size="6"><b>癒月ちょこ</b> </font>
                    
                </pre>
                </td>
                <td style='width:300px'>
                    <a href="https://www.youtube.com/channel/UC1suqwovbL1kzsoaZgFZLKg">
                        <img src="/static/images/youtube.png" style='height:30px;width:72px'/>
                    </a>
                    <a href="https://twitter.com/yuzukichococh">
                        <img src="/static/images/twitter.png" style='height:30px;width:30px'/>
                    </a>
                </td>
            </tr>
            <tr>
                <td style='width:150px'>
                    <img src="/static/images/aqua.jpg" style='border-radius:50px;height:100px;width:100px'/>
                </td>
                <td style='width:800px' align='left'>
                    <pre>
                        <font size="6"><b>湊あくあ</b> </font>
                    </pre>
                </td>
                <td style='width:300px'>
                    <a href="https://www.youtube.com/channel/UC1opHUrw8rvnsadT-iGp7Cg">
                        <img src="/static/images/youtube.png" style='height:30px;width:72px'/>
                    </a>
                    <a href="https://twitter.com/minatoaqua">
                        <img src="/static/images/twitter.png" style='height:30px;width:30px'/>
                    </a>
                </td>
            </tr>
            <tr>
                <td style='width:150px'>
                    <img src="/static/images/Subaru.jpg" style='border-radius:50px;height:100px;width:100px'/>
                </td>
                <td style='width:800px' align='left'>
                <pre>
                    <font size="6"><b>Subaru Ch. 大空スバル</b> </font>
                </pre>
                </td>
                <td style='width:300px'>
                    <a href="https://www.youtube.com/channel/UCvzGlP9oQwU--Y0r9id_jnA">
                        <img src="/static/images/youtube.png" style='height:30px;width:72px'/>
                    </a>
                    <a href="https://twitter.com/oozorasubaru">
                        <img src="/static/images/twitter.png" style='height:30px;width:30px'/>
                    </a>
                </td>
            </tr>
            <tr>
                <td style='width:150px'>
                    <img src="/static/images/Shion.jpg" style='border-radius:50px;height:100px;width:100px'/>
                </td>
                <td style='width:800px' align='left'>
                    <pre>
                        <font size="6"><b>紫咲シオンくあ</b> </font>
                    </pre>
                </td>
                <td style='width:300px'>
                    <a href="https://www.youtube.com/channel/UCXTpFs_3PqI41qX2d9tL2Rw">
                        <img src="/static/images/youtube.png" style='height:30px;width:72px'/>
                    </a>
                    <a href="https://twitter.com/murasakishionch">
                        <img src="/static/images/twitter.png" style='height:30px;width:30px'/>
                    </a>
                </td>
            </tr>
            <tr>
                <td style='width:150px'>
                    <img src="/static/images/Choco.jpg" style='border-radius:50px;height:100px;width:100px'/>
                </td>
                <td style='width:800px' align='left'>
                    <pre>
                        <font size="6"><b>癒月ちょこ</b> </font>
                    </pre>
                </td>
                <td style='width:300px'>
                    <a href="https://www.youtube.com/channel/UCp3tgHXw_HI0QMk1K8qh3gQ/about">
                        <img src="/static/images/youtube.png" style='height:30px;width:72px'/>
                    </a>
                    <a href="https://twitter.com/yuzukichococh">
                        <img src="/static/images/twitter.png" style='height:30px;width:30px'/>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<br>
<button class="hidetogglebtn" style='padding:5px 10px;box-sizing:content-box'>3rd generation</button>
<div class="showcontent" style="margin-left: 100px;">
    <table>
        <tbody align='center'>
            <tr>
                <td style='width:150px'>
                    <img src="/static/images/Pekopeko.jpg" style='border-radius:50px;height:100px;width:100px'/>
                </td>
                <td style='width:800px' align='left'>
                    <pre>
                        <font size="6"><b>Pekora Ch. 兎田ぺこら</b></font>
                    </pre>
                </td>
                <td style='width:300px'>
                    <a href="https://www.youtube.com/channel/UC1DCedRgGHBdm81E1llLhOQ">
                        <img src="/static/images/youtube.png" style='height:30px;width:72px'/>
                    </a>
                    <a href="https://twitter.com/usadapekora">
                        <img src="/static/images/twitter.png" style='height:30px;width:30px'/>
                    </a>
                </td>
            </tr>
            <tr>
                <td style='width:150px'>
                    <img src="/static/images/Rushia.jpg" style='border-radius:50px;height:100px;width:100px'/>
                </td>
                <td style='width:800px' align='left'>
                    <pre>
                        <font size="6"><b>潤羽るしあ</b></font>
                    </pre>
                </td>
                <td style='width:300px'>
                    <a href="https://www.youtube.com/channel/UCl_gCybOJRIgOXw6Qb4qJzQ">
                        <img src="/static/images/youtube.png" style='height:30px;width:72px'/>
                    </a>
                    <a href="https://twitter.com/uruharushia">
                        <img src="/static/images/twitter.png" style='height:30px;width:30px'/>
                    </a>
                </td>
            </tr>
            <tr>
                <td style='width:150px'>
                    <img src="/static/images/marine.jpg" style='border-radius:50px;height:100px;width:100px'/>
                </td>
                <td style='width:800px' align='left'>
                    <pre>
                        <font size="6"><b>Marine Ch. 宝鐘マリン</b></font>
                    </pre>
                </td>
                <td style='width:300px'>
                    <a href="https://www.youtube.com/channel/UCCzUftO8KOVkV4wQG1vkUvg">
                        <img src="/static/images/youtube.png" style='height:30px;width:72px'/>
                    </a>
                    <a href="https://twitter.com/houshoumarine">
                        <img src="/static/images/twitter.png" style='height:30px;width:30px'/>
                    </a>
                </td>
            </tr>
            <tr>
                <td style='width:150px'>
                    <img src="/static/images/Flare.jpg" style='border-radius:50px;height:100px;width:100px'/>
                </td>
                <td style='width:800px' align='left'>
                    <pre>
                        <font size="6"><b>不知火フレア</b> </font>
                    </pre>
                </td>
                <td style='width:300px'>
                    <a href="https://www.youtube.com/channel/UCvInZx9h3jC2JzsIzoOebWg">
                        <img src="/static/images/youtube.png" style='height:30px;width:72px'/>
                    </a>
                    <a href="https://twitter.com/shiranuiflare">
                        <img src="/static/images/twitter.png" style='height:30px;width:30px'/>
                    </a>
                </td>
            </tr>
            <tr>
                <td style='width:150px'>
                    <img src="/static/images/noel.jpg" style='border-radius:50px;height:100px;width:100px'/>
                </td>
                <td style='width:800px' align='left'>
                    <pre>
                        <font size="6"><b>白銀ノエル</b> </font>
                    </pre>
                </td>
                <td style='width:300px'>
                    <a href="https://www.youtube.com/channel/UCdyqAaZDKHXg4Ahi7VENThQ">
                        <img src="/static/images/youtube.png" style='height:30px;width:72px'/>
                    </a>
                    <a href="https://twitter.com/shiroganenoel">
                        <img src="/static/images/twitter.png" style='height:30px;width:30px'/>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<br>
<button class="hidetogglebtn" style='padding:5px 10px;box-sizing:content-box'>4th generation</button>
<div class="showcontent" style="margin-left: 100px;">
    <table>
        <tbody align='center'>
            <tr>
                <td style='width:150px'>
                    <img src="/static/images/watame.jpg" style='border-radius:50px;height:100px;width:100px'/>
                </td>
                <td style='width:800px' align='left'>
                    <pre>
                        <font size="6"><b>角巻わため</b></font>
                    </pre>
                </td>
                <td style='width:300px'>
                    <a href="https://www.youtube.com/channel/UCqm3BQLlJfvkTsX_hvm0UmA">
                        <img src="/static/images/youtube.png" style='height:30px;width:72px'/>
                    </a>
                    <a href="https://twitter.com/tsunomakiwatame">
                        <img src="/static/images/twitter.png" style='height:30px;width:30px'/>
                    </a>
                </td>
            </tr>
            <tr>
                <td style='width:150px'>
                    <img src="/static/images/luna.jpg" style='border-radius:50px;height:100px;width:100px'/>
                </td>
                <td style='width:800px' align='left'>
                    <pre>
                        <font size="6"><b>Luna Ch. 姫森ルーナ</b></font>
                    </pre>
                </td>
                <td style='width:300px'>
                    <a href="https://www.youtube.com/channel/UCa9Y57gfeY0Zro_noHRVrnw">
                        <img src="/static/images/youtube.png" style='height:30px;width:72px'/>
                    </a>
                    <a href="https://twitter.com/himemoriluna">
                        <img src="/static/images/twitter.png" style='height:30px;width:30px'/>
                    </a>
                </td>
            </tr>
            <tr>
                <td style='width:150px'>
                    <img src="/static/images/coco.jpg" style='border-radius:50px;height:100px;width:100px'/>
                </td>
                <td style='width:800px' align='left'>
                    <pre>
                        <font size="6"><b>桐生ココ</b></font>
                    </pre>
                </td>
                <td style='width:300px'>
                    <a href="https://www.youtube.com/channel/UCS9uQI-jC3DE0L4IpXyvr6w">
                        <img src="/static/images/youtube.png" style='height:30px;width:72px'/>
                    </a>
                    <a href="https://twitter.com/kiryucoco">
                        <img src="/static/images/twitter.png" style='height:30px;width:30px'/>

                    </a>
                </td>
            </tr>
            <tr>
                <td style='width:150px'>
                    <img src="/static/images/towa.jpg" style='border-radius:50px;height:100px;width:100px'/>
                </td>
                <td style='width:800px' align='left'>
                    <pre>
                        <font size="6"><b>常闇トワ</b> </font>
                    </pre>
                </td>
                <td style='width:300px'>
                    <a href="https://www.youtube.com/channel/UC1uv2Oq6kNxgATlCiez59hw">
                        <img src="/static/images/youtube.png" style='height:30px;width:72px'/>
                    </a>
                    <a href="https://twitter.com/tokoyamitowa">
                        <img src="/static/images/twitter.png" style='height:30px;width:30px'/>
                    </a>
                </td>
            </tr>
            <tr>
                <td style='width:150px'>
                    <img src="/static/images/Kanata.jpg" style='border-radius:50px;height:100px;width:100px'/>
                </td>
                <td style='width:800px' align='left'>
                    <pre>
                        <font size="6"><b>天音かなた</b> </font>
                    </pre>
                </td>
                <td style='width:300px'>
                    <a href="https://www.youtube.com/channel/UCZlDXzGoo7d44bwdNObFacg">
                        <img src="/static/images/youtube.png" style='height:30px;width:72px'/>
                    </a>
                    <a href="https://twitter.com/amanekanatach">
                        <img src="/static/images/twitter.png" style='height:30px;width:30px'/>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<br>
<button class="hidetogglebtn" style='padding:5px 10px;box-sizing:content-box'>5th generation</button>
<div class="showcontent" style="margin-left: 100px;">
    <table>
        <tbody align='center'>
            <tr>
                <td style='width:150px'>
                    <img src="/static/images/botan.jpg" style='border-radius:50px;height:100px;width:100px'/>
                </td>
                <td style='width:800px' align='left'>
                    <pre>
                        <font size="6"><b>Botan Ch.獅白ぼたん</b></font>
                    </pre>
                </td>
                <td style='width:300px'>
                    <a href="https://www.youtube.com/channel/UCUKD-uaobj9jiqB-VXt71mA">
                        <img src="/static/images/youtube.png" style='height:30px;width:72px'/>
                    </a>
                    <a href="https://twitter.com/shishirobotan">
                        <img src="/static/images/twitter.png" style='height:30px;width:30px'/>
                    </a>
                </td>
            </tr>
            <tr>
                <td style='width:150px'>
                    <img src="/static/images/nene.jpg" style='border-radius:50px;height:100px;width:100px'/>
                </td>
                <td style='width:800px' align='left'>
                    <pre>
                        <font size="6"><b>Nene Ch.桃鈴ねね</b></font>
                    </pre>
                </td>
                <td style='width:300px'>
                    <a href="https://www.youtube.com/channel/UCAWSyEs_Io8MtpY3m-zqILA">
                        <img src="/static/images/youtube.png" style='height:30px;width:72px'/>
                    </a>
                    <a href="https://twitter.com/momosuzunene">
                        <img src="/static/images/twitter.png" style='height:30px;width:30px'/>
                    </a>
                </td>
            </tr>
            <tr>
                <td style='width:150px'>
                    <img src="/static/images/lamy.jpg" style='border-radius:50px;height:100px;width:100px'/>
                </td>
                <td style='width:800px' align='left'>
                    <pre>
                        <font size="6"><b>Lamy Ch. 雪花ラミィ</b></font>
                    </pre>
                </td>
                <td style='width:300px'>
                    <a href="https://www.youtube.com/channel/UCFKOVgVbGmX65RxO3EtH3iw">
                        <img src="/static/images/youtube.png" style='height:30px;width:72px'/>
                    </a>
                    <a href="https://twitter.com/yukihanalamy">
                        <img src="/static/images/twitter.png" style='height:30px;width:30px'/>

                    </a>
                </td>
            </tr>
            <tr>
                <td style='width:150px'>
                    <img src="/static/images/polka.jpg" style='border-radius:50px;height:100px;width:100px'/>
                </td>
                <td style='width:800px' align='left'>
                <pre>
                    <font size="6"><b>尾丸ポルカ</b></font>
                   
                </pre>
                </td>
                <td style='width:300px'>
                    <a href="https://www.youtube.com/channel/UCK9V2B22uJYu3N7eR_BT9QA">
                        <img src="/static/images/youtube.png" style='height:30px;width:72px'/>
                    </a>
                    <a href="https://twitter.com/omarupolka">
                        <img src="/static/images/twitter.png" style='height:30px;width:30px'/>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<br>

{% endblock content %}
