

{% extends "blog/base.html" %}
{% block content %}

<div class="tophand"></div>
<button class="hidetogglebtn" style='padding:5px 10px;box-sizing:content-box'>一番</button>
<div class="showcontent" style="margin-left: 100px;">
    <table>
        <tbody align='center'>
            <tr>
                <td style="width: 250px;">
                    <b style="font-size: 20px;">平糊</b>
                </td>
                <td>
                    <p>只有順子，沒有刻子的食糊牌型。眼可以是番子。</p>
                    <img src="/static/images/1 Dot.jpg"> 
                    <img src="/static/images/2 Dot.jpg">
                    <img src="/static/images/3 Dot.jpg">
                    <img src="/static/images/7 Dot.jpg">
                    <img src="/static/images/8 Dot.jpg">
                    <img src="/static/images/9 Dot.jpg">
                    <img src="/static/images/4 Bamboo.jpg">
                    <img src="/static/images/5 Bamboo.jpg">
                    <img src="/static/images/6 Bamboo.jpg">
                    <img src="/static/images/7 Character.jpg">
                    <img src="/static/images/8 Character.jpg">
                    <img src="/static/images/9 Character.jpg">
                    <img src="/static/images/North Wind.jpg">
                    <img src="/static/images/North Wind.jpg">
                </td>
            </tr>


            <tr>
                <td>
                    <b style="font-size: 20px;">番牌</b> 
                </td>
                <td>
                    <p>食糊時有紅中、發財、白板(三元牌)的刻子或槓牌</p>
                    <img src="/static/images/red.jpg">
                    <img src="/static/images/red.jpg">
                    <img src="/static/images/red.jpg">
                    <img src="/static/images/green.jpg">
                    <img src="/static/images/green.jpg">
                    <img src="/static/images/green.jpg">
                    <img src="/static/images/white.jpg">
                    <img src="/static/images/white.jpg">
                    <img src="/static/images/white.jpg">
                    <img src="/static/images/white.jpg">
                    <img src="/static/images/match.jpg">
                    <img src="/static/images/match.jpg">
                    <img src="/static/images/match.jpg">
                </td>
            </tr>


            <tr>
                <td>
                    <b style="font-size: 20px;">門風</b> 
                </td>
                <td>
                    <p>食糊時持有與「門風」相同的刻子或槓牌</p>
                    <img src="/static/images/East.jpg">
                    <img src="/static/images/East.jpg">
                    <img src="/static/images/East.jpg">
                    <img src="/static/images/South.jpg">
                    <img src="/static/images/South.jpg">
                    <img src="/static/images/South.jpg">
                    <img src="/static/images/West.jpg">
                    <img src="/static/images/West.jpg">
                    <img src="/static/images/West.jpg">
                    <img src="/static/images/North Wind.jpg">
                    <img src="/static/images/North Wind.jpg">
                    <img src="/static/images/North Wind.jpg">
                </td>
            </tr>
                    
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<br>

<div class="tophand"></div>
<button class="hidetogglebtn" style='padding:5px 10px;box-sizing:content-box'>三番</button>
<div class="showcontent" style="margin-left: 100px;">
    <table>
        <tbody align='center'>
            <tr>
                <td style="width: 250px;">
                    <b style="font-size: 20px;">對對糊</b>
                </td>
                <td>
                    <p>只有刻子，沒有順子的食糊</p>
                    <img src="/static/images/2 Dot.jpg"> 
                    <img src="/static/images/2 Dot.jpg">
                    <img src="/static/images/2 Dot.jpg">
                    <img src="/static/images/5 Dot.jpg">
                    <img src="/static/images/5 Dot.jpg">
                    <img src="/static/images/5 Dot.jpg">
                    <img src="/static/images/2 Character.jpg">
                    <img src="/static/images/2 Character.jpg">
                    <img src="/static/images/2 Character.jpg">
                    <img src="/static/images/West.jpg">
                    <img src="/static/images/West.jpg">
                    <img src="/static/images/West.jpg">
                    <img src="/static/images/East.jpg">
                    <img src="/static/images/East.jpg">
                </td>
            </tr>


            <tr>
                <td>
                    <b style="font-size: 20px;">混一色</b> 
                </td>
                <td>
                    <p>只有一種花式跟番子的食糊</p>
                    <img src="/static/images/2 Dot.jpg">
                    <img src="/static/images/3 Dot.jpg">
                    <img src="/static/images/4 Dot.jpg">
                    <img src="/static/images/1 Dot.jpg">
                    <img src="/static/images/2 Dot.jpg">
                    <img src="/static/images/3 Dot.jpg">
                    <img src="/static/images/East.jpg">
                    <img src="/static/images/East.jpg">
                    <img src="/static/images/East.jpg">
                    <img src="/static/images/7 Dot.jpg">
                    <img src="/static/images/7 Dot.jpg">
                    <img src="/static/images/7 Dot.jpg">
                    <img src="/static/images/8 Dot.jpg">
                    <img src="/static/images/9 Dot.jpg">
                </td>
            </tr>


            <tr>
                <td>
                    <b style="font-size: 20px;">花胡</b> 
                </td>
                <td>
                    <p>集齊七隻花牌可即時倒牌，計三台自摸。</p>
                    <img src="/static/images/Spring.jpg">
                    <img src="/static/images/Summer.jpg">
                    <img src="/static/images/Autumn.jpg">
                    <img src="/static/images/Winter.jpg">
                    <img src="/static/images/Plum.jpg">
                    <img src="/static/images/Orchid.jpg">
                    <img src="/static/images/Chrysanthemum.jpg">
                    <img src="/static/images/match.jpg">
                    <img src="/static/images/match.jpg">
                    <img src="/static/images/match.jpg">
                    <img src="/static/images/match.jpg">
                    <img src="/static/images/match.jpg">
                </td>
            </tr>
        </tbody>
    </table>
</div>

<br>
                   
<button class="hidetogglebtn" style='padding:5px 10px;box-sizing:content-box'>五番</button>
<div class="showcontent" style="margin-left: 100px;">
    <table>
        <tbody align='center'>
            <tr>
                <td style="width: 250px;">
                    <b style="font-size: 20px;">小三元</b>
                </td>
                <td>
                    <p> 以紅中、發財、白板(三元牌)組成兩個刻子，一對眼的食糊</p>
                    <img src="/static/images/Red.jpg"> 
                    <img src="/static/images/Red.jpg">
                    <img src="/static/images/Red.jpg">
                    <img src="/static/images/white.jpg">
                    <img src="/static/images/white.jpg">
                    <img src="/static/images/white.jpg">
                    <img src="/static/images/2 Bamboo.jpg">
                    <img src="/static/images/2 Bamboo.jpg">
                    <img src="/static/images/2 Bamboo.jpg">
                    <img src="/static/images/green.jpg">
                    <img src="/static/images/green.jpg">
                    <img src="/static/images/green.jpg">
                    <img src="/static/images/1 Dot.jpg">
                    <img src="/static/images/1 Dot.jpg">
                    <img src="/static/images/1 Dot.jpg">
                </td>
            </tr>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<br>
<button class="hidetogglebtn" style='padding:5px 10px;box-sizing:content-box'>七番</button>
<div class="showcontent" style="margin-left: 100px;">
    <table>
        <tbody align='center'>
            <tr>
                <td style="width: 250px;">
                   <b style="font-size: 20px;">清一色</b>
                </td>
                <td>
                    <p>只有一種花式（筒／條／萬）沒有番子的食糊牌型。</p>
                   <img src="/static/images/3 Dot.jpg"> 
                   <img src="/static/images/4 Dot.jpg">
                   <img src="/static/images/5 Dot.jpg">
                   <img src="/static/images/1 Dot.jpg">
                   <img src="/static/images/2 Dot.jpg">
                   <img src="/static/images/3 Dot.jpg">
                   <img src="/static/images/7 Dot.jpg">
                   <img src="/static/images/8 Dot.jpg">
                   <img src="/static/images/9 Dot.jpg">
                   <img src="/static/images/1 Dot.jpg">
                   <img src="/static/images/1 Dot.jpg">
                   <img src="/static/images/1 Dot.jpg">
                   <img src="/static/images/7 Dot.jpg">
                   <img src="/static/images/7 Dot.jpg">
                </td>
            </tr>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<br>

<div class="tophand"></div>
<button class="hidetogglebtn" style='padding:5px 10px;box-sizing:content-box'>八番</button>
<div class="showcontent" style="margin-left: 100px;">
    <table>
        <tbody align='center'>
            <tr>
                <td style="width: 250px;">
                    <b style="font-size: 20px;">大三元</b>
                </td>
                <td>
                    <p>集齊中、發、白三個刻子的食糊</p>
                    <img src="/static/images/Red.jpg"> 
                    <img src="/static/images/Red.jpg">
                    <img src="/static/images/Red.jpg">
                    <img src="/static/images/white.jpg">
                    <img src="/static/images/white.jpg">
                    <img src="/static/images/white.jpg">
                    <img src="/static/images/2 Bamboo.jpg">
                    <img src="/static/images/2 Bamboo.jpg">
                    <img src="/static/images/2 Bamboo.jpg">
                    <img src="/static/images/4 Dot.jpg">
                    <img src="/static/images/4 Dot.jpg">
                    <img src="/static/images/green.jpg">
                    <img src="/static/images/green.jpg">
                    <img src="/static/images/green.jpg">
                </td>
            </tr>


            <tr>
                <td>
                    <b style="font-size: 20px;">大花胡（八仙過海)</b> 
                </td>
                <td>
                    <p>：集齊八隻花可即時食糊</p>
                    <img src="/static/images/Spring.jpg">
                    <img src="/static/images/Summer.jpg">
                    <img src="/static/images/Autumn.jpg">
                    <img src="/static/images/Winter.jpg">
                    <img src="/static/images/Plum.jpg">
                    <img src="/static/images/Orchid.jpg">
                    <img src="/static/images/Chrysanthemum.jpg">
                    <img src="/static/images/Bamboo.jpg">
                    <img src="/static/images/match.jpg">
                    <img src="/static/images/match.jpg">
                    <img src="/static/images/match.jpg">
                    <img src="/static/images/match.jpg">
                </td>
            </tr>


            <tr>
                <td>
                    <b style="font-size: 20px;">花胡</b> 
                </td>
                <td>
                    <b style="font: size 15px;">連續兩次明槓或暗槓之後自摸～</b>
                </td>
            </tr>
       </tbody>
    </table>
</div>
<br>


<div class="tophand"></div>
<button class="hidetogglebtn" style='padding:5px 10px;box-sizing:content-box'>十三番</button>
<div class="showcontent" style="margin-left: 100px;">
    <table>
        <tbody align='center'>
            <tr>
                <td style="width: 250px;">
                    <b style="font-size: 20px;">九子連環</b>
                </td>
                <td>
                    <p>必須以門前清集齊同花色「一、一、一、二、三、四、五、六、七、八、九、九、九」，加其中任何一隻牌。</p>
                    <img src="/static/images/1 Character.jpg"> 
                    <img src="/static/images/2 Character.jpg">
                    <img src="/static/images/3 Character.jpg">
                    <img src="/static/images/4 Character.jpg">
                    <img src="/static/images/5 Character.jpg">
                    <img src="/static/images/6 Character.jpg">
                    <img src="/static/images/7 Character.jpg">
                    <img src="/static/images/8 Character.jpg">
                    <img src="/static/images/9 Character.jpg">
                    <img src="/static/images/9 Character.jpg">
                    <img src="/static/images/9 Character.jpg">
                    <img src="/static/images/4 Character.jpg">
                </td>
            </tr>


            <tr>
                <td>
                    <b style="font-size: 20px;">字一色</b> 
                </td>
                <td>
                    <p>只有番子的食糊（另計台牌，即為13番)</p>
                    <img src="/static/images/East.jpg">
                    <img src="/static/images/East.jpg">
                    <img src="/static/images/East.jpg">
                    <img src="/static/images/South.jpg">
                    <img src="/static/images/South.jpg">
                    <img src="/static/images/South.jpg">
                    <img src="/static/images/North Wind.jpg">
                    <img src="/static/images/North Wind.jpg">
                    <img src="/static/images/North Wind.jpg">
                    <img src="/static/images/Red.jpg">
                    <img src="/static/images/Red.jpg">
                    <img src="/static/images/white.jpg">
                    <img src="/static/images/white.jpg">
                    <img src="/static/images/white.jpg">
                    <img src="/static/images/Red.jpg">
                </td>
            </tr>


            <tr>
                <td>
                    <b style="font-size: 20px;">清么九（么九)</b> 
                </td>
                <td>
                    <p>只有一、九的牌型的食糊</p>
                    <img src="/static/images/1 Dot.jpg">
                    <img src="/static/images/1 Dot.jpg">
                    <img src="/static/images/1 Dot.jpg">
                    <img src="/static/images/9 Dot.jpg">
                    <img src="/static/images/9 Dot.jpg">
                    <img src="/static/images/9 Dot.jpg">
                    <img src="/static/images/1 Bamboo.jpg">
                    <img src="/static/images/1 Bamboo.jpg">
                    <img src="/static/images/1 Bamboo.jpg">
                    <img src="/static/images/9 Bamboo.jpg">
                    <img src="/static/images/9 Bamboo.jpg">
                    <img src="/static/images/9 Bamboo.jpg">
                    <img src="/static/images/9 Character.jpg">
                    <img src="/static/images/9 Character.jpg">
                </td>
            </tr>

            <tr>
                <td>
                    <b style="font-size: 20px;">清十三么</b> 
                </td>
                <td>
                    <p>以門清集齊十三種么牌，包括：(一九萬、一九索、一九筒、東、南、西、北；中、發、白（各一張），再加其中一張做眼。</p>
                    <img src="/static/images/1 Character.jpg">
                    <img src="/static/images/9 Character.jpg">
                    <img src="/static/images/1 Dot.jpg">
                    <img src="/static/images/9 Dot.jpg">
                    <img src="/static/images/1 Bamboo.jpg">
                    <img src="/static/images/9 Bamboo.jpg">
                    <img src="/static/images/East.jpg">
                    <img src="/static/images/South.jpg">
                    <img src="/static/images/West.jpg">
                    <img src="/static/images/North Wind.jpg">
                    <img src="/static/images/red.jpg">
                    <img src="/static/images/green.jpg">
                    <img src="/static/images/white.jpg">
                </td>
            </tr>
        </tbody>
    </table>
</div>
<br>


{% endblock content %}
