{% extends "blog/base.html" %}
{% block content %}
<div class="tophand"></div>
<div style='text-align: center;'>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ivAu2GGbTzs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br style='padding: 20px'>
    <h1 style="font: size 4px">【東方虹龍洞】最新作！初見弾幕ノーコンティニューめざせ！【ホロライブ/宝鐘マリン】</h1>
    <br style='padding: 20px'>

    <!-- copy www.youtube.com./embed/影片ID -->

    <!-- <iframe></iframe> -->
    <iframe style='padding: 20px' width="560" height="315" src="https://www.youtube.com/embed/6AJlGVumpmA" frameborder="0" allowfullscreen></iframe>
    <br style='padding: 20px'>
    <h1 style="font: size 4px">100gがわからない【角巻わため/ホロライブ４期生】</h1>
    <!-- <iframe></iframe> -->
    <br style='padding: 20px'>
    <iframe style='padding: 20px' width="560" height="315" src="https://www.youtube.com/embed/w282Sx48La4" frameborder="0" allowfullscreen></iframe>
    <br style='padding: 20px'>
    <h1 style="font: size 4px">【Minecraft】マイクラに登校するんだよおおおおおおおおおぺこ！【ホロライブ/兎田ぺこら】</h1>
    <br style='padding: 20px'>
    <iframe style='padding: 20px' width="560" height="315" src="https://www.youtube.com/embed/--NV_wO-f8U" frameborder="0" allowfullscreen></iframe>
    <br style='padding: 20px'>
    <h1 style="font: size 4px">【歌枠】第４６回！わためぇ Night Fever!!【角巻わため/ホロライブ４期生】</h1>
    <br style='padding: 20px'>
    <iframe style='padding: 20px' width="560" height="315" src="https://www.youtube.com/embed/JTtHd4sJRos" frameborder="0" allowfullscreen></iframe>
    <br style='padding: 20px'>
    <h1 style="font: size 4px">【モンハンライズ】上位★7に挑むハンター達の配信所【獅白ぼたん視点/ホロライブ】</h1>
    <br style='padding: 20px'>
    <iframe style='padding: 20px' width="560" height="315" src="https://www.youtube.com/embed/CXqYk3W5ARM" frameborder="0" allowfullscreen></iframe>
    <br style='padding: 20px'>
    <h1 style="font: size 4px">【雑談/talk】いろいろなお話をする対話枠【潤羽るしあ/ホロライブ】</h1>
    <br style='padding: 20px'>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/dypRMlONWog" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br style='padding: 20px'>
    <h1 style="font: size 4px">【Short video】NENE PIZZA SONG【桃鈴ねね/ホロライブ】</h1>
    <br style='padding: 20px'>
    <iframe style='padding: 20px' width="560" height="315" src="https://www.youtube.com/embed/mSnEueQttKg"  frameborder="0"allowfullscreen></iframe>
    <br style='padding: 20px'>
    <h1 style="font: size 4px">【APEX】サーヴァント兎田ぺこら召喚に応じ参上するぺこ！【ホロライブ/兎田ぺこら】</h1>
    <br style='padding: 20px'>
    
</div>

{% endblock content %}

